{% extends 'etcal/base.html' %}
{%load static %}

{% block top_script_block %}
<!-- Fontastic Custom icon font-->
<link rel="stylesheet" href={% static "dash/css/fontastic.css" %}>
<!-- Google fonts - Roboto -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<!-- jQuery Circle-->
<link rel="stylesheet" href={% static "dash/css/grasp_mobile_progress_circle-1.0.0.min.css" %}>
<!-- Custom Scrollbar-->
<link rel="stylesheet" href={% static "dash/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" %}>
<!-- theme stylesheet-->
<link rel="stylesheet" href={% static "dash/css/style.default.css" %} id="theme-stylesheet">
<!-- Custom stylesheet - for your changes-->
<link rel="stylesheet" href={% static "dash/css/custom.css" %}>
<!-- Favicon-->
<!--<link rel="shortcut icon" href={% static "dash/img/favicon.ico" %}>-->
{% endblock %}

{% block head_navbar_block %}
{% endblock %}

{% block navbar_block %}
<!-- Side Navbar -->
<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="align-items-center d-flex justify-content-center sidenav-header">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center">
                <img src={% static "all/logo/WAISS-logo-no-label.png" %} alt="person" class="img-fluid rounded-circle">
                <h2 class="h5">WAISS</h2>
                <span>SARAI 2.3</span>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo">
                <a href={% url 'etcal:index' %} class="brand-small text-center"> <strong>ET</strong></a>
            </div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <h5 class="sidenav-heading">Main</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled"> 
                <li>
                    <a href={% url 'etcal:index' %}> <i class="icon-home"></i>Home                             </a>
                    <a href={% url 'etcal:dashboard' %}><i class="fa fa-calendar"></i>Dashboard</a>
                    <a href="#"><i class="fa fa-leaf"></i>Farms</a>
                    <a href="#"><i class="fa fa-sitemap"></i>Stations</a>
                </li>
                <li>
                    <a href="#userdbdropdown" aria-expanded="false" data-toggle="collapse"><i class="fa fa-th-list"></i>User Database</a>
                    <ul id="userdbdropdown" class="collapse list-unstyled ">
                        <li>
                            <a href="#">Crop</a>
                        </li>
                        <li>
                            <a href="#">Soil</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="admin-menu">
            <h5 class="sidenav-heading">Second menu</h5>
            <ul id="side-admin-menu" class="side-menu list-unstyled"> 
                <li> 
                    <a href="#"><i class="fa fa-user"> </i>Profile</a>
                </li>
                <li> 
                    <a href="#"><i class="fa fa-gears"> </i>Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block head_block %}
<div class="page">
    <!-- navbar-->
    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
                        <a href={% url 'etcal:index' %} class="navbar-brand"> <div class="brand-text d-none d-md-inline-block">
                                <span><b>ETCAL</b></span>
                                <strong class="text-primary">Dashboard</strong>
                            </div></a>
                    </div>
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Notifications dropdown-->
                        <li class="nav-item dropdown"> 
                            <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>
                            <ul aria-labelledby="notifications" class="dropdown-menu">
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item"> <div class="notification d-flex justify-content-between">
                                            <div class="notification-content">
                                                <i class="fa fa-envelope"></i>You have 6 new messages 
                                            </div>
                                            <div class="notification-time">
                                                <small>4 minutes ago</small>
                                            </div>
                                        </div></a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item"> <div class="notification d-flex justify-content-between">
                                            <div class="notification-content">
                                                <i class="fa fa-twitter"></i>You have 2 followers
                                            </div>
                                            <div class="notification-time">
                                                <small>4 minutes ago</small>
                                            </div>
                                        </div></a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item"> <div class="notification d-flex justify-content-between">
                                            <div class="notification-content">
                                                <i class="fa fa-upload"></i>Server Rebooted
                                            </div>
                                            <div class="notification-time">
                                                <small>4 minutes ago</small>
                                            </div>
                                        </div></a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item"> <div class="notification d-flex justify-content-between">
                                            <div class="notification-content">
                                                <i class="fa fa-twitter"></i>You have 2 followers
                                            </div>
                                            <div class="notification-time">
                                                <small>10 minutes ago</small>
                                            </div>
                                        </div></a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-bell"></i>view all notifications                                            </strong></a>
                                </li>
                            </ul>
                        </li>
                        <!-- Messages dropdown-->
                        <li class="nav-item dropdown"> 
                            <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-info">10</span></a>
                            <ul aria-labelledby="notifications" class="dropdown-menu">
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item d-flex"> <div class="msg-profile"> 
                                            <img src={% static "dash/img/avatar-1.jpg" %} alt="..." class="img-fluid rounded-circle">
                                        </div> <div class="msg-body">
                                            <h3 class="h5">Jason Doe</h3>
                                            <span>sent you a direct message</span>
                                            <small>3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div></a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item d-flex"> <div class="msg-profile"> 
                                            <img src={% static "dash/img/avatar-2.jpg" %} alt="..." class="img-fluid rounded-circle">
                                        </div> <div class="msg-body">
                                            <h3 class="h5">Frank Williams</h3>
                                            <span>sent you a direct message</span>
                                            <small>3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div></a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item d-flex"> <div class="msg-profile"> 
                                            <img src={% static "dash/img/avatar-3.jpg" %} alt="..." class="img-fluid rounded-circle">
                                        </div> <div class="msg-body">
                                            <h3 class="h5">Ashley Wood</h3>
                                            <span>sent you a direct message</span>
                                            <small>3 days ago at 7:58 pm - 10.06.2014</small>
                                        </div></a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Read all messages    </strong></a>
                                </li>
                            </ul>
                        </li>
                        <!-- Languages dropdown    -->
                        <li class="nav-item dropdown">
                            <a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><img src={% static "dash/img/flags/16/GB.png" %} alt="English"><span class="d-none d-sm-inline-block">English</span></a>
                            <ul aria-labelledby="languages" class="dropdown-menu">
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item"> <img src={% static "dash/img/flags/16/DE.png" %} alt="English" class="mr-2"><span>German</span></a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item"> <img src={% static "dash/img/flags/16/FR.png" %} alt="English" class="mr-2"><span>French                                                         </span></a>
                                </li>
                            </ul>
                        </li>
                        <!-- Log out-->
                        <li class="nav-item">
                            <a href="#" data-toggle="modal" data-target="#logout-modal" class="nav-link logout"> <span class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block main_block %}
{% endblock %}

{% block footer_block %}
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 flex align-items-center">
                    <p>SARAI 2.3 &copy; 2020</p>
                </div>
                <div class="col-sm-6 text-right">
                    <img src={% static "all/logo/sarai-logo.png" %} class="logo-icon"/>
                    <img src={% static "all/logo/up-logo.png" %} class="logo-icon"/>
                    <img src={% static "all/logo/dost-pcaarrd-logo.png" %} class="logo-icon"/>
                    <img src={% static "all/logo/dost-logo.png" %} class="logo-icon"/>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block end_footer_block %}
</div>
{% endblock %}

{% block bottom_navbar_block %}
{% endblock %}

{% block modal_block %}
<!-- Logout Modal-->
<div id="logout-modal" tabindex="-1" role="dialog" aria-labelledby="logout-modalLabel" aria-hidden="true" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="login-modalLabel" class="modal-title">User Log Out</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center text-muted">Hope you are having a good time using WAISS ETCal. Are you sure you want to log out?</p>
            </div>
            <div class="modal-footer">
                <input type="button" value="Close" data-dismiss="modal" class="btn btn-light">
                <input type="button" href={% url 'logout' %} value="Log Out" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>
<!-- Logout modal end-->
{% endblock %}

{% block bottom_script_block %}
<!-- JavaScript files-->
<script src={% static "dash/vendor/jquery/jquery.min.js" %}></script>
<script src={% static "dash/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "dash/js/grasp_mobile_progress_circle-1.0.0.min.js" %}></script>
<script src={% static "dash/vendor/jquery.cookie/jquery.cookie.js" %}> </script>
<script src={% static "dash/vendor/chart.js/Chart.min.js" %}></script>
<script src={% static "dash/vendor/jquery-validation/jquery.validate.min.js" %}></script>
<script src={% static "dash/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js" %}></script>
<script src={% static "dash/js/charts-home.js" %}></script>
<!-- Main File-->
<script src={% static "dash/js/front.js" %}></script>
{% endblock %}