{% extends 'etcal/base-dash.html' %}
{%load static %}

{% block addtl_top_script_block %}
<!--Custom Stylesheet-->
<link rel="stylesheet" href={% static "dash/css/progress-circle.css" %}>
<!-- Highcharts --->
<link rel="stylesheet" href={% static "dash/css/highcharts.css" %}>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/timeline.js"></script>
<script src="https://code.highcharts.com/modules/xrange.js"></script>
{% endblock %}

{% block main_block %}
<!-- Counts Section -->
<section class="dashboard-counts section-no-padding-bottom section-padding">
    <div class="container-fluid">
        <div class="row">
            <!-- Count item widget-->
            <div class="col-12 col-md-12 col-xl-5 mb-3">
                <div class="wrapper count-title d-flex">
                    <div class="icon">
                        <i class="fa fa-pagelines pt-3"></i>
                    </div>
                    <div class="name">
                        <div class="count-number">Welcome!</div>
                        <span>Toggle through your farms through the select option</span>
                        <strong class="align-items-center d-flex mt-2 text-uppercase"><div class="icon icon-home"></div><select class="form-control"> 
                                <option>FARM A</option>                                             
                                <option>FARM B</option>                                             
                                <option>FARM C</option>                                             
                            </select></strong>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-4 col-sm-4 col-xl-2">
                <div class="wrapper count-title d-flex">
                    <div class="icon">
                        <i class="fa fa-envira"></i>
                    </div>
                    <div class="name">
                        <strong class="text-uppercase">DAYS AFTER PLANTING</strong>
                        <span>DAP</span>
                        <div class="count-number" id="valDAP">25</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-6 col-lg-3 col-md-4 col-sm-4 col-xl-2">
                <div class="wrapper count-title d-flex">
                    <div class="icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="name">
                        <strong class="text-uppercase">DAYS BEFORE HARVEST</strong>
                        <span id="dHarvest">Last 5 days</span>
                        <div class="count-number" id="valDOH">400</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-12 col-md-4 col-sm-4 col-xl-3">
                <div class="wrapper count-title d-flex">
                    <div class="icon">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="name">
                        <strong class="text-uppercase">RAINFALL Percent CHANCE</strong>
                        <span>Next 3 days</span>
                        <div class="count-number">70</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <!-- Count item widget-->
            <!-- Count item widget-->
        </div>
    </div>
</section>
<!-- Statistics Section-->
<section class="section-padding statistics">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-4">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon">
                        <i class="icon-list-1"></i>
                    </div>
                    <div class="number" id="valDBI"></div>
                    <strong class="text-primary">Day to Irrigate</strong>
                    <p id="textDBI"></p>
                    <p id="textDBINote"></p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Monthly Usage-->
                <div class="card data-usage">
                    <h2 class="display h4">Soil Water Status</h2>
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-6">
                            <div class="progress blue">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value" id="valCurrentMC"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <strong id="textActualRAW" class="text-primary"></strong>
                            <p id="valActualRAW"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- User Actibity-->
                <div class="card user-activity">
                    <h2 class="display h4">Level of Irrigation</h2>
                    <div class="number" id="valIrrigate"></div>
                    <h3 class="h4 display" id="textIrrigate"></h3>
                    <div class="progress">
                        <div role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar bg-primary"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Header Section-->
<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <!-- To Do List-->
            <div class="col-lg-3 col-md-3">
                <div class="card to-do">
                    <h2 class="display h4">To do List</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <ul class="check-lists list-unstyled">
                        <li class="d-flex align-items-center"> 
                            <input type="checkbox" id="list-1" name="list-1" class="form-control-custom">
                            <label for="list-1">Similique sunt in culpa qui officia</label>
                        </li>
                        <li class="d-flex align-items-center"> 
                            <input type="checkbox" id="list-2" name="list-2" class="form-control-custom">
                            <label for="list-2">Ed ut perspiciatis unde omnis iste</label>
                        </li>
                        <li class="d-flex align-items-center"> 
                            <input type="checkbox" id="list-3" name="list-3" class="form-control-custom">
                            <label for="list-3">At vero eos et accusamus et iusto </label>
                        </li>
                        <li class="d-flex align-items-center"> 
                            <input type="checkbox" id="list-4" name="list-4" class="form-control-custom">
                            <label for="list-4">Explicabo Nemo ipsam voluptatem</label>
                        </li>
                        <li class="d-flex align-items-center"> 
                            <input type="checkbox" id="list-5" name="list-5" class="form-control-custom">
                            <label for="list-5">Similique sunt in culpa qui officia</label>
                        </li>
                        <li class="d-flex align-items-center"> 
                            <input type="checkbox" id="list-6" name="list-6" class="form-control-custom">
                            <label for="list-6">At vero eos et accusamus et iusto </label>
                        </li>
                        <li class="d-flex align-items-center"> 
                            <input type="checkbox" id="list-7" name="list-7" class="form-control-custom">
                            <label for="list-7">Similique sunt in culpa qui officia</label>
                        </li>
                        <li class="d-flex align-items-center"> 
                            <input type="checkbox" id="list-8" name="list-8" class="form-control-custom">
                            <label for="list-8">Ed ut perspiciatis unde omnis iste</label>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Pie Chart-->
            <div class="col-lg-9 col-md-9">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                    <p class="highcharts-description">
                        This demo shows how related charts can be synchronized. Hover
                        over one chart to see the effect in the other charts as well.
                        This is a technique that is commonly seen in dashboards,
                        where multiple charts are often used to visualize related
                        information.
                    </p>
                </figure>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block addtl_bottom_script_block %}
<script src={% static "dash/js/main_script.js" %}></script>
<script src={% static "dash/js/script.js" %}></script>
{% endblock %}