{% extends 'etcal/base-dash.html' %}
{%load static %}

{% block addtl_top_script_block %}
<!-- Highcharts --->
<link rel="stylesheet" href={% static "dash/css/highcharts.css" %}>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/timeline.js"></script>
<script src="https://code.highcharts.com/modules/xrange.js"></script>
<script src="https://code.highcharts.com/stock/highstock.src.js"></script>
{% endblock %}

{% block main_block %}
<!-- Counts Section -->
<section class="dashboard-counts section-no-padding-bottom section-padding">
    <div class="container-fluid">
        <div class="row">
            <!-- Count item widget-->
            <div class="col-12 col-md-12 col-xl-5 mb-5 mb-md-5 mb-xl-0">
                <div class="wrapper count-title d-flex">
                    <div class="icon">
                        <i class="fa fa-pagelines pt-3"></i>
                    </div>
                    <div class="name">
                        <div class="count-number">Welcome!</div>
                        <span>Toggle through your farms through the select option</span>
                        <form id="dash" data-farm-url="{% url 'etcal:load_dash' %}">
                            <strong class="align-items-center d-flex mt-2 text-uppercase"><div class="icon icon-home"></div>
                                <select class="form-control" id="farms"> 
                                    <optgroup label="Farms">
                                        {% for item in farm_info %}
                                        {% if item == new_farm %}
                                        <option value="{{ item.id }}" selected="">{{ item.farm_name }}</option>
                                        {% elif forloop.first %}
                                        <option value="{{ item.id }}" selected="">{{ item.farm_name }}</option>
                                        {% else %}
                                        <option value="{{ item.id }}">{{ item.farm_name }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </optgroup>                                             
                                </select>
                            </strong>                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-4 col-sm-4 col-xl-2">
                <div class="wrapper count-title d-flex">
                    <div class="icon">
                        <i class="fa fa-envira"></i>
                    </div>
                    <div class="name">
                        <strong class="text-uppercase">DAYS AFTER PLANTING</strong>
                        <span id="dPlanted">DAP</span>
                        <div class="count-number" id="valDAP">25</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-6 col-lg-3 col-md-4 col-sm-4 col-xl-2">
                <div class="wrapper count-title d-flex">
                    <div class="icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="name">
                        <strong class="text-uppercase">DAYS BEFORE HARVEST</strong>
                        <span id="dHarvest">Last 5 days</span>
                        <div class="count-number" id="valDOH">400</div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-12 col-md-4 col-sm-4 col-xl-3">
                <div class="wrapper count-title d-flex">
                    <div class="icon">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="name">
                        <strong class="text-uppercase">RAINFALL Percent CHANCE</strong>
                        <span>Next 3 days</span>
                        <div class="count-number">70</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Data Holder Section-->
<section class="dashboard-counts section-no-padding-bottom section-padding">
    <div class="container-fluid">
        <div class="d-none" id="dataHolder" data-pg-collapsed> 
            <div class="row text-left justify-content-start"> 
                <div class="col-xl-2">
                    <span>Date Planted: </span>
                </div>                 
                <div class="col-xl-10">
                    <input class="border rounded" id="DAP-holder" type="date" value="{{ farm_details.date_planted|date:" -m-d" }}"style="width: 181px;"/>
                </div>                 
            </div>             
            <div class="row"> 
                <div class="col-xl-2">
                    <span>Crop Type:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="text" class="border rounded" id="crop-holder" value="{{ crop_data.crop_type }}"/>
                </div>                 
                <div class="col-xl-2">
                    <span>Soil Type:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="text" class="border rounded" id="soil-holder" value="{{ soil_data.soil_type }}"/>
                </div>                 
            </div>             
            <div class="row"> 
                <div class="col-xl-2">
                    <span>Days to Maturity:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="dtm-holder" value="{{ crop_data.crop_dtm }}"/>
                </div>                 
                <div class="col-xl-2">
                    <span>FC (mm/mm):  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="fc-holder" value="{{ soil_data.soil_fc }}"/>
                </div>                 
            </div>             
            <div class="row"> 
                <div class="col-xl-2">
                    <span>Crop DRZ (mm):  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="drz-holder" value="{{ crop_data.crop_drz }}"/>
                </div>                 
                <div class="col-xl-2">
                    <span>PWP (mm/mm):  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="pwp-holder" value="{{ soil_data.soil_pwp }}"/>
                </div>                 
            </div>             
            <div class="row"> 
                <div class="col-xl-2">
                    <span>Initial Stage:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="init-stage-holder" value="{{crop_data.stage_init }}"/>
                </div>                 
                <div class="col-xl-2">
                    <span>Percolation:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="perc-holder" value="{{ soil_data.percolation }}"/>
                </div>                 
            </div>             
            <div class="row"> 
                <div class="col-xl-2">
                    <span>Developmental:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="dev-stage-holder" value="{{ crop_data.stage_dev }}"/>
                </div>                 
                <div class="col-xl-2">
                    <span>Initial Depletion:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="init-depl-holder" value="{{ soil_data.init_depl }}"/>
                </div>                 
            </div>             
            <div class="row"> 
                <div class="col-xl-2">
                    <span>Mid-Season:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="mid-stage-holder" value="{{ crop_data.stage_mid }}"/>
                </div>                 
                <div class="col-xl-2">
                    <span>MAD:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="mad-holder" value="{{ soil_data.mad }}"/>
                </div>                 
            </div>             
            <div class="row"> 
                <div class="col-xl-2">
                    <span>Late Season:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="late-stage-holder" value="{{ crop_data.stage_late }}"/>
                </div>                 
                <div class="col-xl-2">
                    <span>Correction Factor:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="corr-factor-holder" value="{{ farm_details.corr_factor }}"/>
                </div>                 
            </div>             
            <div class="row"> 
                <div class="col-xl-2">
                    <span>Kc, initial:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="kc-init-holder" value="{{ crop_data.kc_init }}"/>
                </div>                 
            </div>             
            <div class="row"> 
                <div class="col-xl-2">
                    <span>Kc, mid:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="kc-mid-holder" value="{{ crop_data.kc_mid }}"/>
                </div>                 
            </div>             
            <div class="row"> 
                <div class="col-xl-2">
                    <span>Kc, late:  </span>
                </div>                 
                <div class="col-xl-3">
                    <input type="number" class="border rounded" id="kc-late-holder" value="{{ crop_data.kc_late }}"/>
                </div>                 
            </div>             
            <div class="row" style="margin-top: 5px;"> 
                <div class="col-xl-2">
                    <strong>Data Measured:  </strong>
                </div>                 
            </div>             
            {% for data in latest_farm_data %}
            <div class="row"> 
                <div class="col-xl-3">
                    <span>Date:  </span>
                    <input class="border rounded" name="date-data-holder" type="date" value="{{ data.timestamp|date:" -m-d" }}" style="width: 162px;"/>
                </div>                 
                <div class="col-xl-3">
                    <span>ETo (mm):  </span>
                    <input type="number" class="border rounded" name="eto-data-holder" value="{{ data.eto }}" style="width: 80px;"/>
                </div>                 
                <div class="col-xl-3">
                    <span>Rainfall (mm):  </span>
                    <input type="number" class="border rounded" name="rain-data-holder" value="{{ data.rainfall }}" style="width: 80px;"/>
                </div>                 
                <div class="col-xl-3">
                    <span>Irrigation (mm):  </span>
                    <input type="number" class="border rounded" name="irrig-data-holder" value="{{ data.irrigation }}" style="width: 80px;"/>
                </div>                 
            </div>             
            {% endfor %}
        </div>
    </div>
</section>
<!-- Statistics Section-->
<section class="section-padding statistics">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-4">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon">
                        <i class="icon-list-1"></i>
                    </div>
                    <div class="number" id="valDBI"></div>
                    <strong class="text-primary">Day to Irrigate</strong>
                    <p id="textDBI"></p>
                    <p id="textDBINote"></p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Monthly Usage-->
                <div class="card data-usage">
                    <h2 class="display h4">Soil Water Status</h2>
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-6">
                            <!--<div id="circleProgress5" class="progressbar-js-circle rounded p-3">
                                <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                    <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#eee" stroke-width="4" fill-opacity="0"></path>
                                    <path id="path-circle" d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#4fbfa8" stroke-width="4" fill-opacity="0" style="stroke-dasharray: 301.635, 301.635; stroke-dashoffset: 99.5396;"></path>
                                </svg>
                                <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(0, 0, 0); font-size: 1rem;" id="valCurrentMC"></div>
                            </div>-->
                            <div class="chart-gauge"></div>
                            <div id="valCurrentMC" class="text-center"></div>
                        </div>
                        <div class="col-sm-6">
                            <strong id="textActualRAW" class="text-primary"></strong>
                            <p id="valActualRAW"></p>
                        </div>
                    </div>
                    <p id="textSoilWaterNote"></p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- User Actibity-->
                <div class="card user-activity">
                    <h2 class="display h4">Level of Irrigation</h2>
                    <div class="mb-1 mt-3 number text-primary" id="valIrrigate"></div>
                    <h3 class="h4 display" id="textIrrigate"></h3>
                    <div class="mb-3 mt-3 progress">
                        <div id="mc-progress" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar progress-bar-striped bg-primary"></div>
                        <div id="irrigate-progress" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar bg-danger"></div>
                    </div>
                    <p class="mt-2" id="textIrrigateNote"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Header Section-->
<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <!-- To Do List-->
            <div class="col-lg-3 col-md-3">
                <div class="card to-do">
                    <div class="alert alert-info alert-dismissible fade show" role="alert" id="lastDataAlert">
                        <strong>Hey there!</strong>
                        <span id="lastDataAlert_text"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <h2 class="display h4 text-primary"><b>Data Options</b></h2>
                    <p id="lastDataUpdate">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <section class="align-items-center d-flex justify-content-center">
                            <button type="button" class="align-items-center btn btn-primary d-flex data-option justify-content-center">
                                <i class="fa fa-2x fa-plus-square-o"></i>
                            </button>
                            <span class="text-muted">&nbsp;Add Data</span>
                        </section>
                        <section class="align-items-center d-flex justify-content-center">
                            <button type="button" class="align-items-center btn btn-secondary d-flex data-option justify-content-center">
                                <i class="fa fa-2x fa-home"></i>
                            </button>
                            <span class="text-muted">&nbsp;Add Farm</span>
                        </section>
                        <section class="align-items-center d-flex justify-content-center">
                            <button type="button" class="align-items-center btn btn-info d-flex data-option justify-content-center">
                                <i class="fa fa-2x fa-sitemap"></i>
                            </button>
                            <span class="text-muted">&nbsp;Add Station</span>
                        </section>
                    </div>
                </div>
            </div>
            <!-- Pie Chart-->
            <div class="col-lg-9 col-md-9">
                <div id="soilwaterChart"></div>
                <div id="appliedwaterChart"></div>
                <div id="growthstageChart"></div>
                <div id="etChart"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block addtl_bottom_script_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<!--<script src={% static "dash/js/main_script.js" %}></script>-->
<script src={% static "dash/js/script.js" %}></script>
{% endblock %}