{% extends 'etcal/base-dash.html' %}
{% load static %}

{% block navbar_block %}
{% endblock %}

{% block head_block %}
{% endblock %}

{% block main_block %}
<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase">
                    <span>WAISS</span>
                    <strong class="text-primary">ETCAL</strong>
                </div>
                <p>Email Sent! Kindly check your inbox. We've emailed you instructions for setting your password. You should receive the email shortly! </p>
                <br>
                <p>If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.</p>
                <br>
                <small>Back to </small>
                <a href={% url 'login' %} class="signup">Log In</a>
            </div>
            <div class="copyrights text-center">
                <p>Design by <a href="https://bootstrapious.com/p/bootstrap-4-dashboard" class="external">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_block %}
{% endblock %}