{% extends 'etcal/base-dash.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block navbar_block %}
{% endblock %}

{% block head_block %}
{% endblock %}

{% block main_block %}
<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase">
                    <span>WAISS</span>
                    <strong class="text-primary">ETCAL</strong>
                </div>
                <p>Welcome! Register now to start monitoring your farm and crop with our accurate water advisory system. We hope this will also be another amazing experience for you.</p>
                <form method="post" class="text-left form-validate">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">{{ user_form.first_name | as_crispy_field }}</div>
                        <div class="col-6">{{ user_form.last_name | as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12">{{ user_form.username | as_crispy_field }}</div>
                        <div class="col-12">{{ user_form.email | as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12">{{ user_form.password1 | as_crispy_field }}</div>
                        <div class="col-12">{{ user_form.password2 | as_crispy_field }}</div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" id="signup" value="Sign Up" class="btn btn-primary">
                        <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                    </div>
                </form>
                <a href={% url 'password_reset' %} class="forgot-pass">Forgot Password?</a>
                <small>Already have an account? </small>
                <a href={% url 'login' %} class="signup">Log In</a>
            </div>
            <div class="copyrights text-center">
                <p>Design by <a href="https://bootstrapious.com/p/bootstrap-4-dashboard" class="external">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_block %}
{% endblock %}